* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url("../img/pattern.jpg");
}

header {
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;
    background-color: white;
    display: flex;
}

header nav ul a {
    text-decoration: none;
}

header nav ul li {
    display: inline-block;
    margin-right:10px ;
	list-style-type: none;
}

header nav {
    margin-left: auto;
    line-height: 40px;
}

section h1 {
    display: none;
}

section #article-list {
    background-color: white;
    width: 770px;
    margin: 65px auto 3px;
    padding:10px 15px 10px;    
}

section #article-list article{
    border-bottom: 1px solid grey;
}
 
footer {
    background-color: black;
    height: 30px;  
    vertical-align: center;
}

footer h5 {
    color: white;
    text-align: center;
    padding: 5px;
}
