/* * {
    box-sizing: border-box;
} */

#track ul{
    display: flex; 
}
#track ul li {
    display: inline-block;
    margin-right: 10px;
}

#definedLogo {
    display:inline; 
    line-height:43px;
    margin-left:-15px;
}


header {
    border-bottom: 1px solid #666;
}

.kotak {
    border: 1px solid blue;
    /* height: 150px; */
   
}

.kotak1{
    border: 1px solid #dfdfdf;
    
}
.kotak2{
    height: 420px;
    /* border: 1px solid skyblue; */

}
.kotak3 {
    border-top: 1px solid skyblue;
    border-bottom: 1px solid #dfdfdf;
}
.ulberjarak {
    line-height: 40px;
}

.container1{
    width:95%;
    margin-left: 2.5%;
}

.container{
    max-width: 1084px;
}

#cek:hover {
    
}